<div class="search-widget">
    <form name="search-widgetform">
        <div class="departure-place">
            Departure Place
        </div>
        <div class="destination-place">
            Destination Place
        </div>
        <div class="dates">
            <div class="departure-date">
                Departure Date
            </div>
            <div class="return-date">
                Return Date
            </div>
        </div>
        <button class="submit" type="submit">
            Search
        </button>
    </form>
</div>